In [1]:
from random import randint

def codigo():
    '''
        Gera um codigo aleatório de 0 a 999
        Retorna em str
    '''
    return str(randint(0,999))

notas_turma = ['João', 8.0, 9.0, 10.0, 'Maria', 9.0, 7.0, 6.0, 'José', 3.4, 7.0, 7.0, 'Cláudia', 5.5, 6.6, 8.0, 'Ana', 6.0, 10.0, 9.5]

nomes = []
notas = []

for i in range(len(notas_turma)):
    if i % 4 == 0:
        nomes.append(notas_turma[i])
    else:
        notas.append(notas_turma[i])

notas_separadas = []
for i in range(0, len(notas), 3):
    notas_separadas.append([notas[i],notas[i+1],notas[i+2]])

codigo_estudantes = []
#tuplas irreversíveis, não rodar duas vezes, vai gerar erro, restart se der esse erro
for i in range(len(nomes)):
    codigo_estudantes.append((nomes[i],nomes[i][0]+codigo()))

In [5]:
def media(lista, list=[0]) -> float:
    '''
        Função para calcular a media de itens de uma lista.
        Retorno da função é um numero flutuante.

        lista: list, default[0]
            lista com as notas para calcular a media
        return = calculo: float
            media calculada
    '''
    calculo = sum(lista)/len(lista)

    return calculo

medias = [round(media(nota),1) for nota in notas_separadas]

In [17]:
nome_estudante = [nome[0] for nome in codigo_estudantes]
estudantes = list(zip(nome_estudante, medias))
candidatos = [estudante[0] for estudante in estudantes if estudante[1]>=8]

In [25]:
situacao = ['Aprovado' if media>=6 else 'Reprovado' for media in medias]
situacao

['Aprovado', 'Aprovado', 'Reprovado', 'Aprovado', 'Aprovado']

In [28]:
cadastro = [codigo_estudantes, notas_separadas, medias, situacao]
cadastro

[[('João', 'J308'),
  ('Maria', 'M703'),
  ('José', 'J355'),
  ('Cláudia', 'C240'),
  ('Ana', 'A986')],
 [[8.0, 9.0, 10.0],
  [9.0, 7.0, 6.0],
  [3.4, 7.0, 7.0],
  [5.5, 6.6, 8.0],
  [6.0, 10.0, 9.5]],
 [9.0, 7.3, 5.8, 6.7, 8.5],
 ['Aprovado', 'Aprovado', 'Reprovado', 'Aprovado', 'Aprovado']]

In [33]:
coluna = ['Notas', 'Media', 'Situação']
cadastro_dict = {coluna[i]: cadastro[i+1] for i in range(len(coluna))}
cadastro_dict["Estudante"] = [cadastro[0][nomes][0] for nomes in range(len(cadastro[0]))]
cadastro_dict

{'Notas': [[8.0, 9.0, 10.0],
  [9.0, 7.0, 6.0],
  [3.4, 7.0, 7.0],
  [5.5, 6.6, 8.0],
  [6.0, 10.0, 9.5]],
 'Media': [9.0, 7.3, 5.8, 6.7, 8.5],
 'Situação': ['Aprovado', 'Aprovado', 'Reprovado', 'Aprovado', 'Aprovado'],
 'Estudante': ['João', 'Maria', 'José', 'Cláudia', 'Ana']}

In [49]:
ldl = [[4,6,5,9], [1,0,7,2], [3,4,1,8]]
for lista in ldl:
    print(sum(lista))

24
10
16

In [61]:
lista_de_tuplas = [('Pedro', 1.74, 81), ('Júlia', 1.65, 67), ('Otávio', 1.81, 83)]
l3 = [lista_de_tuplas[i][2] for i in range(len(lista_de_tuplas))]
print(l3)
tuplas = []
for i in range(len(lista_de_tuplas)):
    tuplas.append((i,lista_de_tuplas[i][0]))
print(tuplas)

[81, 67, 83]
[(0, 'Pedro'), (1, 'Júlia'), (2, 'Otávio')]

In [67]:
aluguel = [('Apartamento', 1700), ('Apartamento', 1400), ('Casa', 2150), ('Apartamento', 1900), ('Casa', 1100)]
apartamentos = [x[1] for x in aluguel if x[0] == 'Apartamento']
apartamentos

[1700, 1400, 1900]

In [68]:
meses = ['Jan', 'Fev', 'Mar', 'Abr', 'Mai', 'Jun', 'Jul', 'Ago', 'Set', 'Out', 'Nov', 'Dez']
despesa = [860, 490, 1010, 780, 900, 630, 590, 770, 620, 560, 840, 360]
dict_despesa = {meses[i]: despesa[i] for i in range(len(meses))}
dict_despesa

{'Jan': 860,
 'Fev': 490,
 'Mar': 1010,
 'Abr': 780,
 'Mai': 900,
 'Jun': 630,
 'Jul': 590,
 'Ago': 770,
 'Set': 620,
 'Out': 560,
 'Nov': 840,
 'Dez': 360}

In [72]:
vendas = [('2023', 4093), ('2021', 4320), ('2021', 5959), ('2022', 8883), ('2023', 9859), ('2022', 5141), ('2022', 7688), ('2022', 9544), ('2023', 4794), ('2021', 7178), ('2022', 3030), ('2021', 7471), ('2022', 4226), ('2022', 8190), ('2021', 9680), ('2022', 5616)]
vendas2022 = [x[1] for x in vendas if (x[0] == '2022' and x[1] > 6000)]
vendas2022

[8883, 7688, 9544, 8190]

In [74]:
glicemia = [129, 82, 60, 97, 101, 65, 62, 167, 87, 53, 58, 92, 66, 120, 109, 62, 86, 96, 103, 88, 155, 52, 89, 73]
rotulos = [('Hipoglicemia', glicose) if glicose <= 70 else ('Normal', glicose) if glicose < 100 else ('Alterada', glicose) if glicose < 125 else ('Diabetes', glicose) for glicose in glicemia]
print(rotulos)

[('Diabetes', 129), ('Normal', 82), ('Hipoglicemia', 60), ('Normal', 97), ('Alterada', 101), ('Hipoglicemia', 65), ('Hipoglicemia', 62), ('Diabetes', 167), ('Normal', 87), ('Hipoglicemia', 53), ('Hipoglicemia', 58), ('Normal', 92), ('Hipoglicemia', 66), ('Alterada', 120), ('Alterada', 109), ('Hipoglicemia', 62), ('Normal', 86), ('Normal', 96), ('Alterada', 103), ('Normal', 88), ('Diabetes', 155), ('Hipoglicemia', 52), ('Normal', 89), ('Normal', 73)]

In [79]:
id = [0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
quantidade = [15, 12, 1, 15, 2, 11, 2, 12, 2, 4]
preco = [93.0, 102.0, 18.0, 41.0, 122.0, 14.0, 71.0, 48.0, 14.0, 144.0]
cabeçalho = ['id','quantidade','preço','total']
tabela = []
for x in range(len(id)):
    tabela.append((cabeçalho,[id[x],quantidade[x],preco[x],quantidade[x]*preco[x]]))
print(tabela)

[(['id', 'quantidade', 'preço', 'total'], [0, 15, 93.0, 1395.0]), (['id', 'quantidade', 'preço', 'total'], [1, 12, 102.0, 1224.0]), (['id', 'quantidade', 'preço', 'total'], [2, 1, 18.0, 18.0]), (['id', 'quantidade', 'preço', 'total'], [3, 15, 41.0, 615.0]), (['id', 'quantidade', 'preço', 'total'], [4, 2, 122.0, 244.0]), (['id', 'quantidade', 'preço', 'total'], [5, 11, 14.0, 154.0]), (['id', 'quantidade', 'preço', 'total'], [6, 2, 71.0, 142.0]), (['id', 'quantidade', 'preço', 'total'], [7, 12, 48.0, 576.0]), (['id', 'quantidade', 'preço', 'total'], [8, 2, 14.0, 28.0]), (['id', 'quantidade', 'preço', 'total'], [9, 4, 144.0, 576.0])]

In [93]:
estados = ['SP', 'ES', 'MG', 'MG', 'SP', 'MG', 'ES', 'ES', 'ES', 'SP', 'SP', 'MG', 'ES', 'SP', 'RJ', 'MG', 'RJ', 'SP', 'MG', 'SP', 'ES', 'SP', 'MG']
abr = list(set(estados))

repetidos = []

for x in abr:
    v = [est for est in estados if est == x]
    repetidos.append(v)

numero_filiais = {abr[i]: len(repetidos[i]) for i in range(len(abr))}
print(f'Quantidade de filiais por estado : {numero_filiais}')

Quantidade de filiais por estado : {'SP': 8, 'RJ': 2, 'ES': 6, 'MG': 7}